APP_IMAGE=registry.cn-hangzhou.aliyuncs.com/your-namespace/blog-nuxt:latest

POSTGRES_DB=nuxt_blog
POSTGRES_USER=blog
POSTGRES_PASSWORD=change-this-database-password

DATABASE_URL=postgresql://blog:change-this-database-password@postgres:5432/nuxt_blog?schema=public
NUXT_SESSION_PASSWORD=replace-with-at-least-32-characters-secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me-now
SITE_URL=https://blog.ittx.cn
SITE_NAME=Jiupan Blog
