APP_IMAGE=registry.cn-hangzhou.aliyuncs.com/your-namespace/blog-nuxt:latest

POSTGRES_DB=nuxt_blog
POSTGRES_USER=blog
POSTGRES_PASSWORD=change-this-database-password

DATABASE_URL=postgresql://blog:change-this-database-password@postgres:5432/nuxt_blog?schema=public
NUXT_SESSION_PASSWORD=replace-with-at-least-32-characters-secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me-now
SITE_URL=https://blog.ittx.cn
SITE_NAME=Jiupan Blog
KNOWLEDGE_WORKER_ENABLED=true
KNOWLEDGE_WORKER_POLL_INTERVAL_MS=2000
KNOWLEDGE_WORKER_HEARTBEAT_INTERVAL_MS=15000
KNOWLEDGE_WORKER_LEASE_TIMEOUT_MS=60000
NUXT_PUBLIC_TWIKOO_ENV_ID=https://twikoo.blog.example.com
NUXT_PUBLIC_TWIKOO_REGION=
TWIKOO_THROTTLE=1000
